.navBar {
    position:fixed;
    overflow:hidden;
    background-color: cadetblue;
    top:0;
    width:fit-content;
    border: 2px;
    color:antiquewhite;
        
}

.navBar:hover {
    cursor: pointer;
}