.container {
    position:relative;
    text-align: center;
    color: white;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size:x-large;
    -webkit-text-stroke: 1px black;
}

.centerText {
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%)
    
}